# copied from https://courses-git.comnet.aalto.fi/CPP-S2020/student_base/src/branch/master/.gitignore
!doc/*
/bin/*
.vs/
.vscode/
*
!*.*
!*/
!README.md
!CMakeLists.txt

*.user
src/CMakeFiles
src/*/CMakeFiles
src/*/CMakeCache.txt
*.cmake
*~
.*.swp
.*.swo
*.o
*.a
*~
settings.json
*.exe
.log